.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
<<<<<<< HEAD
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}
=======
  }
  
  @media (min-width: 500px) {
    .Person {
      width: 450px;
    }
  }
  
>>>>>>> af44a7ae24fcbf6f71294dd53d8a00e1fe797689
